<form (ngSubmit)="onSubmit()">
    <div class="input-group">
        <label>Initial Investment
            <input [(ngModel)]="initialInvestment" name="initialInvestment" type="number" min="0" step="10" max="100000" value="0">
        </label>

        <label>Annual Investment
            <input [(ngModel)]="annualInvestment" name="annualInvestment" type="number" min="0" step="1" max="1000" value="0">
        </label>
    </div>
    
    <div class="input-group">
        <label>Expected Return
            <input [(ngModel)]="expectedReturn" name="expectedReturn" type="number" min="0" step="10" max="100" value="5">
        </label>

        <label>Duration
            <input [(ngModel)]="duration" name="duration" type="number" min="0" step="1" max="1000" value="10">
        </label>
    </div>

    <button type="submit">Calculate</button>
</form>